*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

header{
    background-color:aliceblue;
    padding: 16px 0;
    
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    margin-left: 16px;
}

header li a {
    color: black;
}

.container {
    width: 1366px;
    margin: 0 auto 0 auto;
}
h1 {
    color: black;
}